header {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar_left {
    flex: 0 0 auto;
}

.navbar_right {
    flex: 1;
    display: flex;
    justify-content: left;
    width: 100%;
}

.navbar_center {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 {
    color: red !important;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: pink;
}

.home_page {
    width: 100%;
}

.buttons_list {
    text-align: center;
}


aside {
    background-color: rgb(238, 88, 238);
    flex: 0 0 200px;
}
