{% extends 'quotes/base.html' %}
{% block content %}

{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Authors</title>
</head>

<main>
    <h1>Authors:</h1>
    <ul>
        {% for author in page_obj %}
        <li>
            <a href="{% url 'author_about' author.pk %}">{{ author.name }}</a>
        </li>
        {% endfor %}
    </ul>
</main>

<div class="paginator">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span clas="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </span>
</div>
{% endblock %}